USE [master]
GO
/****** Object:  Database [WordsDatabase]    Script Date: 23.8.2014 г. 18:54:18 ч. ******/
CREATE DATABASE [WordsDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WordsDatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\WordsDatabase.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WordsDatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\WordsDatabase_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WordsDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WordsDatabase]
GO
/****** Object:  Table [dbo].[AllTypeOfWords]    Script Date: 23.8.2014 г. 18:54:18 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AllTypeOfWords](
	[WordID] [int] NOT NULL,
	[OtherWord] [int] NOT NULL,
	[TypeOfOtherWord] [int] NOT NULL,
 CONSTRAINT [PK_AllTypeOfWords] PRIMARY KEY CLUSTERED 
(
	[WordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Language]    Script Date: 23.8.2014 г. 18:54:18 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Language](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Language] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Language] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PartOfSpeechs]    Script Date: 23.8.2014 г. 18:54:18 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartOfSpeechs](
	[PartOfSpeechID] [int] IDENTITY(1,1) NOT NULL,
	[PartOfSpeechType] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PartOfSpeechs] PRIMARY KEY CLUSTERED 
(
	[PartOfSpeechID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TypeOfAllWords]    Script Date: 23.8.2014 г. 18:54:18 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeOfAllWords](
	[TypeWordsID] [int] NOT NULL,
	[TypeOfOtherWord] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TypeOfAllWords] PRIMARY KEY CLUSTERED 
(
	[TypeWordsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Words]    Script Date: 23.8.2014 г. 18:54:18 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Words](
	[WordID] [int] IDENTITY(1,1) NOT NULL,
	[Word] [nvarchar](50) NOT NULL,
	[Explenation] [int] NOT NULL,
	[AntonymID] [int] NOT NULL,
	[LanguageID] [int] NOT NULL,
	[PartOfSpeechTypeID] [int] NOT NULL,
 CONSTRAINT [PK_Words] PRIMARY KEY CLUSTERED 
(
	[WordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[AllTypeOfWords]  WITH CHECK ADD  CONSTRAINT [FK_AllTypeOfWords_TypeOfAllWords] FOREIGN KEY([TypeOfOtherWord])
REFERENCES [dbo].[TypeOfAllWords] ([TypeWordsID])
GO
ALTER TABLE [dbo].[AllTypeOfWords] CHECK CONSTRAINT [FK_AllTypeOfWords_TypeOfAllWords]
GO
ALTER TABLE [dbo].[AllTypeOfWords]  WITH CHECK ADD  CONSTRAINT [FK_AllTypeOfWords_Words] FOREIGN KEY([OtherWord])
REFERENCES [dbo].[Words] ([WordID])
GO
ALTER TABLE [dbo].[AllTypeOfWords] CHECK CONSTRAINT [FK_AllTypeOfWords_Words]
GO
ALTER TABLE [dbo].[AllTypeOfWords]  WITH CHECK ADD  CONSTRAINT [FK_AllTypeOfWords_Words1] FOREIGN KEY([TypeOfOtherWord])
REFERENCES [dbo].[Words] ([WordID])
GO
ALTER TABLE [dbo].[AllTypeOfWords] CHECK CONSTRAINT [FK_AllTypeOfWords_Words1]
GO
ALTER TABLE [dbo].[Words]  WITH CHECK ADD  CONSTRAINT [FK_Words_Language] FOREIGN KEY([LanguageID])
REFERENCES [dbo].[Language] ([ID])
GO
ALTER TABLE [dbo].[Words] CHECK CONSTRAINT [FK_Words_Language]
GO
ALTER TABLE [dbo].[Words]  WITH CHECK ADD  CONSTRAINT [FK_Words_PartOfSpeechs] FOREIGN KEY([PartOfSpeechTypeID])
REFERENCES [dbo].[PartOfSpeechs] ([PartOfSpeechID])
GO
ALTER TABLE [dbo].[Words] CHECK CONSTRAINT [FK_Words_PartOfSpeechs]
GO
ALTER TABLE [dbo].[Words]  WITH CHECK ADD  CONSTRAINT [FK_Words_Words] FOREIGN KEY([Explenation])
REFERENCES [dbo].[Words] ([WordID])
GO
ALTER TABLE [dbo].[Words] CHECK CONSTRAINT [FK_Words_Words]
GO
USE [master]
GO
